# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store
Thumbs.db

.eslintcache
/.eslintcache

# Docker
Dockerfile
docker-compose.yml

# IDEs and editors
/.idea
idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
vscode
.vscode
.vscode/*